{% extends 'base.html' %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room Name</th>
      <th scope="col">Capacity</th>
      <th scope="col">Projector</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
    {% for room in rooms %}
  <tbody>
    <tr>
        <td>{{ forloop.counter }}</td>
        <td bgcolor='{% cycle "silver" "lightgray" %}'>{{ room.name }}</td>
        <td>{{ room.capacity }}</td>
        <td>{{ room.has_projector }}</td>
        <td>{{ status }}</td>
    </tr>
  </tbody>
  {% endfor %}
{% endblock %}

