{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
  <p>{{ room.name }}</p>
  <p>{{ msg }}</p>
</div>

<div class="container mt-5">
<form method="POST">
  {% csrf_token %}
  <label for="day">Date:</label>
  <input type="date" name="booking_date" id="day">
  <label for="info">Description:</label>
  <input type="text" name="comment" id="info"><br>
  <input class="btn btn-outline-success mt-5 float-right" type="submit" name="book" value="Book">
</form>
</div>

{% endblock %}